<div class="page-header">
  <h2>Élèves</h2>
  <button class="btn-primary">+ Ajouter un(e) élève</button>
</div>

<div class="card">
  @if (loading) {
    <div class="loading">Chargement...</div>
  }

  @if (!loading) {
    @if (students.length) {
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
          </tr>
        </thead>

        <tbody>
          @for (student of students; track student.id) {
            <tr>
              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>
            </tr>
          }
        </tbody>
      </table>
    }
  } @else {
    <div class="empty">Aucun élève trouvé.</div>
  }
</div>
